<section data-ng-controller="HomeController">
	<div style="height:150px"></div>
	<div class="jumbotron text-center transparentBox">
	  <div class="row">
	    <div class="col-md-6 col-md-off set-3 col-sm-6 col-sm-offset-3 col-xs-12">
		  <img class="img-responsive text-center" src="modules/core/img/brand/logo.png">
	    </div>
	  </div>
	  <br>
	  <div class="row">
		<p class="lead">
			Healthy eating. Conscious living. Create your personal palate today!
		</p>
	  </div>
	  <div data-ng-show="authentication.user">
	  	<a data-ng-href="#!/food-journal">
		  	<button class="btn btn-primary">
		  		View {{authentication.user.displayName}}'s food journal
		  	</button>
	  	</a>
	  </div>
	  <br>
	  <div data-ng-show="!authentication.user">
	  	<a class="btn btn-primary btn-lg" href="/#!/signup">Get Started</a>
	  </div>
	</div>
</section>
