<section data-ng-controller="MyProfileController">
	<div class="page-header">
		<h2>My Profile</h2>
	</div>
	<div class="col-md-12">
		<div>
			<form>
				<fieldset>
					<div class="form-group">
						<div class="row">
							<div class="col-md-3">
								<a data-ng-href="#!/food-journal">
								<input type="submit" class="btn btn-primary" value="View My Food Journal">
								</a>
							</div>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
		<div style="color:white">
			<food-journal></food-journal>		
		</div>
	</div>
</section>