<section data-ng-controller="FoodJournalController">
	<div class="page-header">
		<h2>My Food Journal</h2>
	</div>
	<div class="col-md-12" data-ng-init="getEntries()">
				<span data-ng-repeat="entry in entries">
					<div class="row">
						<h3>{{entry.yesterday.dateString}}</h3>
							<div class="col-md-4">
								<h4>Breakfast</h4>
								<p style="color:white">
									{{entry.yesterday.breakfast.toString().replace(/-/, " ")}}
								</p>
							</div>
							<div class="col-md-4">
								<h4>Lunch</h4>
								<p style="color:white">{{entry.yesterday.lunch.toString()}}</p>
							</div>
							<div class="col-md-4">
								<h4>Dinner</h4>
								<p style="color:white">{{entry.yesterday.dinner.toString()}}</p>
							</div>
					</div>

					<div class="row">
						<h3>{{entry.dayBeforeYesterday.dateString}}</h3>
							<div class="col-md-4">
								<h4>Breakfast</h4>
								<p style="color:white">{{entry.dayBeforeYesterday.breakfast.toString()}}</p>
							</div>
							<div class="col-md-4">
								<h4>Lunch</h4>
								<p style="color:white">{{entry.dayBeforeYesterday.lunch.toString()}}</p>
							</div>
							<div class="col-md-4">
								<h4>Dinner</h4>
								<p style="color:white">{{entry.dayBeforeYesterday.dinner.toString()}}</p>
							</div>
					</div>
					<div class="row">
						<h3>{{entry.twoDaysBeforeYesterday.dateString}}</h3>
							<div class="col-md-4">
								<h4>Breakfast</h4>
								<p style="color:white">
									{{entry.twoDaysBeforeYesterday.breakfast.toString()}}
								</p>
							</div>
							<div class="col-md-4">
								<h4>Lunch</h4>
								<p style="color:white">{{entry.twoDaysBeforeYesterday.lunch.toString()}}</p>
							</div>
							<div class="col-md-4">
								<h4>Dinner</h4>
								<p style="color:white">{{entry.twoDaysBeforeYesterday.dinner.toString()}}</p>
							</div>
					</div>
				</span>
			
	</div>
</section>